.product-related {
  text-align: center;
  margin-top: 10rem;

  &--swiper {
    padding-top: 3rem;
    margin-top: 5rem;
    height: 45rem;
    border-top: 2px solid var(--color-grey-light-2) !important;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--color-grey-light-2) !important;

  }
}

.product-grid {
  border: none;
  border-left: 2px solid var(--color-grey-light-2) !important;
  border-right: 2px solid var(--color-grey-light-2) !important;
  text-align: left;
}

.product-related--swiper .swiper-container {
  height: 48rem;
}

.swiper-container {
  z-index: -1 !important;
}


