.download-section {
  //margin-top: 10rem;
  height: 40rem;
  margin-top: 25rem;
  margin-right: 8rem;

  @media only screen and (max-width: $bp-small) {
    height: fit-content;
    margin-right: 0;

  }

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;

}

.title_2_download {
  //color: white !important;
}

.title_1_download {
  color: white;
  line-height: 1.2;

  @media only screen and (max-width: $bp-small) {

    line-height: 1.8;

  }

}

.paragraph_download {
  color: white;
  line-height: 1.4 !important;
  @media only screen and (max-width: $bp-small) {
    width: 90%;
    line-height: 1.7 !important;

  }

}

.content__text--btn-download {

  a {
    width: 25rem;
    padding: 1.3rem;

    svg {
      margin-right: 1rem;
    }
  }

}

.partners-section {

  text-align: center;
  padding: 5rem 0;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //border: var(--line);

  .paragraph {
    //line-height: 1.2;

  }
}

.title_1 {
  margin-top: 1.6rem;
  font-size: 3.4rem;
  margin-bottom: 1rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  //line-height: 1.2;
  @media only screen and (max-width: $bp-small-1) {
    font-size: 2.8rem;
  }
  @media only screen and (max-width: $bp-smallest) {
    width: 90%;
    //line-height: 1.2;
  }


}

.title_2 {
  color: var(--color-primary);
  font-size: 2.2rem;
  text-transform: capitalize;
  width: 100%;

}

.red-divider {
  width: 100px;
  height: 2px;
  background: var(--color-primary);
  margin: 0 auto;

}

.paragraph {
  font-size: 1.8rem;
  margin-top: 1rem;
  @media only screen and (max-width: $bp-small-1) {
    font-size: 1.6rem;
    margin-top: .7rem;
    width: 90%;
    //line-height: 1.2 !important;
  }

}

.carts {
  padding-top: 6rem;
  display: flex;
  justify-content: space-around;
  height: 35rem;

  &__cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--line);
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    padding: 5rem;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 0;
      width: .4rem;
      transition: all .3s;
      background-image: linear-gradient(to Bottom, var(--color-primary-dark), var(--color-primary));

    }

    &:hover {
      &::before {
        height: 100%;

      }

      .red-divider {
        background: #999;
      }
    }

    &--img {
      height: 4rem;

    }

    &--title {
      text-transform: uppercase;
      font-size: 1.8rem;
      color: #4a4a4a;
      padding-top: 1rem;
    }

  }
}

.swiper-container {
  border: none !important;
}

.content__text--btn-download {
  a {
    background: url("./btn-bg1.png");
    background-size: cover;
    transform-origin: left;
    transition: 0.5S;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;

    &:before {
      display: none;
    }
  }
}