.pro-sidebar .pro-menu>ul>.pro-sub-menu>.pro-inner-list-item {
  background-color: hsla(0,0%,100%,.05) !important;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;

  svg {
    fill: white;

    &:hover {
      fill: var(--color-primary);
      cursor: pointer;
    }
  }
}

.sidebarFooter {
  text-align: center;
}

.pro-sidebar {
  height: calc(100vh - 10rem) !important;
}
