.header-container {
  height: 79rem;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 8rem 0;
  position: relative;

  .header__item {
    background-size: 100% 100%;
    height: 79rem;
    background-position: center;
    text-align: left;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 34% 100%, 0 75%);
    position: relative;
    //background-image: linear-gradient(
    //                to bottom,
    //                rgba(#000, 0.9),
    //                rgba(#000, 0.2)),
    //url("./h1.jpg");
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
                      to bottom,
                      rgba(#000, 0.9),
                      rgba(#000, 0.2));
    }



  }


  @media only screen and (max-width: $bp-small) {
    padding: 2rem 2rem 6rem 2rem;
  }

}
.content__scrolling-indicators {
  position: fixed;
  top: 0;
  padding-top: 8rem;
  z-index: 1;
  right: 0;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  border-left: var(--line);
  height: 100%;

  .indicatorsBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25rem;
  }

  .indic {
    background-color: black ;
    height: 3rem;
    width: .5rem;
    border-radius: 5rem;
    cursor: pointer;

    &-active {
      background-image: linear-gradient(to bottom ,var(--color-primary-dark), var(--color-primary));

    }
  }
}
.content__social-media {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  padding-top: 0rem;
  padding-bottom: 2rem;
  //border-right: var(--line);
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  .social-mediaBigBlock {
    margin-right: -3rem;

  }


  .social-block {
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-top: 3rem;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
    svg {
      transform: rotate(90deg);
      margin-right: -.7rem;
    }


  }
}
.content__text--btn{
  margin-top:1.5rem;
  transition: all .1s;

  & a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    color: black;
    background-color: white;
    position: relative;
    display: inline-block;
    width: 17rem;
    overflow: hidden;
    z-index: 1;
    margin-right: 3rem;
    text-align: center;
    transition: all 0.5S;

    svg {
      fill: white
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: url("./btn-bg1.png");
      background-size: cover;
      transform-origin: left;
      transition: 0.5S;
      z-index: -1;
    }

    @media only screen and (max-width: $bp-small-1) {
      margin-bottom: -8rem;
    }

    &:hover:before {
      width: 100%;
    }
    &:hover  span {
      color: black;
      z-index: 999;
    }
    &:hover {
      background-color: transparent;

    }
  }

}

.swiper-button-prev:after, .swiper-button-next:after {
  color: var(--color-primary);
  font-size: 3.5rem !important;

}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}

.text-div {
  width: 25rem;
  height: .6rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to right ,var(--color-primary-dark), var(--color-primary));
}

.content__text {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10rem;
  margin-left: 15rem;
  z-index: 999;
  text-align: left;

  .paragraph {
    font-size: 1.8rem;
    color: white;
    text-transform: capitalize;
    font-weight: 700;

    @media only screen and (max-width: $bp-medium-2) {
      font-size: 2.2rem ;

    }
    @media only screen and (max-width: $bp-small) {
      padding-top: .5rem !important;
      font-size: 2rem;

    }

    &-2 {
      text-transform: lowercase;
      width: 80rem;
      @media only screen and (max-width: $bp-small) {

      }
    }
  }
  .title_1 {
    text-transform: uppercase;
    font-size: 4.4rem !important;
    margin-bottom: 1.5rem;
    letter-spacing: .3rem;
    margin-top: -.8rem;
    color: white;

    span {
      color: var(--color-primary);
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 3.4rem;
    }
    @media only screen and (max-width: $bp-small-1) {
      font-size: 4.4rem;
      margin-bottom: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 2.8rem !important;
      margin-bottom: 1.3rem;
    }

  }

}

.pages-block {
  position: absolute;
  right: 15rem;
  top: 13rem;
  z-index: 999;
  background: rgba(#ccc,0.3);
  width: 30rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  padding: 3rem;
  .numbers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white ;
    font-size: 1.6rem;
    .leftRight {
      span {
        margin: 1.5rem;
      }
    }
  .page-number {
    font-weight: bold;
    font-size: 1.8rem;
    span {
      font-size: 2.8rem;
    }
  }

  }
  .page-name {
    color: white;
    text-align: left;
  }
}

.white-div {
  width: 100%;
  height: .6rem;
  border-radius: 1rem;
  background: var(--color-grey-light-4);
  margin-bottom: 2.5rem;

  .line {
    width: 8rem;
    height: .6rem;
    border-radius: 1rem;
    background: white;
  }
}

