.header-container {
  height: 79rem;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 8rem 0;
  position: relative;
  padding-right: 8rem;

  @media only screen and (max-width: $bp-largest) {
    height: 72rem;
  }

  @media only screen and (max-width: $bp-medium) {
    height: 65rem;
  }

  @media only screen and (max-width: $bp-small-1) {
    height: 60rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding-right: 0;
    height: calc(100vh - 11rem);

  }


  .header__item {
    background-size: 100% 100%;
    height: 79rem;
    background-position: center;
    text-align: left;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 34% 100%, 0 75%);
    position: relative;

    @media only screen and (max-width: $bp-largest) {
      height: 72rem;
    }
    @media only screen and (max-width: $bp-medium) {
      height: 65rem;
    }
    @media only screen and (max-width: $bp-small-1) {
      height: 57rem;
    }
    @media only screen and (max-width: $bp-small) {
      height: calc(100vh - 11rem);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);    }
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
              to bottom,
                        rgba(0, 0, 0, 0.5) 50%,
                        rgba(0, 0, 0, 0.8) 100%)
    }


  }


}

.content__social-media {
  position: absolute;
  height: 100%;
  top: -.1rem;
  left: 0;
  z-index: 99999;
  padding-top: 0rem;
  padding-bottom: 2rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  @media only screen and (max-width: $bp-largest) {
    width: 6rem;
  }
  @media only screen and (max-width: $bp-small) {
    display: none;
  }

  .social-mediaBigBlock {
    margin-right: -3rem;

  }


  .social-block {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-top: 3rem;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }

    svg {
      transform: rotate(90deg);
      margin-right: -.7rem;
    }


  }
}

.content__text--btn {
  margin-top: 1.5rem;
  transition: all .1s;

  & a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    color: black;
    background-color: white;
    position: relative;
    display: inline-block;
    width: 17rem;

    z-index: 1;
    margin-right: 3rem;
    text-align: center;
    transition: all 0.5S;



    svg {
      fill: white
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: url("./btn-bg1.png");
      background-size: cover;
      transform-origin: left;
      transition: 0.5S;
      z-index: -1;
    }

    @media only screen and (max-width: $bp-small-1) {
      margin-bottom: -8rem;
    }

    &:hover:before {
      width: 100%;
    }

    &:hover span {
      color: black;
      z-index: 999;
    }

    &:hover {
      background-color: transparent;

    }
  }

}

.swiper-button-prev:after, .swiper-button-next:after {
  color: var(--color-primary);
  font-size: 3.5rem !important;

}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}

.text-div {
  width: 25rem;
  height: .6rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary));


  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-bottom: 2rem;
    width: 16rem;

  }
}

.content__text {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10rem;
  margin-left: 15rem;
  z-index: 999;
  text-align: left;

  @media only screen and (max-width: $bp-largest) {
    padding-top: 7rem;
    margin-left: 12rem;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-left: 10rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding-top: 4rem;
    margin-left: 3rem;
  }


  .paragraph {
    font-size: 1.8rem;
    color: white;
    text-transform: capitalize;
    font-weight: 700;

    @media only screen and (max-width: $bp-medium) {
      width: 80% !important;
    }

    @media only screen and (max-width: $bp-small-1) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.7rem;
    }


    &-2 {
      text-transform: lowercase;
      width: 80rem;
      @media only screen and (max-width: $bp-medium-2) {
        margin-bottom: 3rem;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }
    }
  }

  .title_1 {
    text-transform: uppercase;
    font-size: 4.4rem;
    margin-bottom: 1.5rem;
    letter-spacing: .3rem;
    margin-top: -.8rem;
    color: white;

    span {
      color: var(--color-primary);
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 3.4rem;
    }

    @media only screen and (max-width: $bp-small-1) {
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2.9rem;
      margin-top: 0;
    }

  }

}

.pages-block {
  position: absolute;
  right: 15rem;
  top: 13rem;
  z-index: 999;
  background: rgba(#ccc, 0.3);
  width: 30rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;

  clip-path: polygon(0 0, 100% 0%, 100% 70%, 34% 100%, 0 75%);

  @media only screen and (max-width: $bp-largest) {
    top: 10rem;
    right: 12rem;

  }

  @media only screen and (max-width: $bp-medium) {
    right: 10rem;
  }

  @media only screen and (max-width: $bp-medium-2) {
    width: 24rem;
  }

  @media only screen and (max-width: $bp-small-1) {

    width: 18.5rem;
    padding: 1rem;
    height: 15rem;
  }
  @media only screen and (max-width: $bp-small) {
    display: none;
  }

  .numbers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.6rem;

    @media only screen and (max-width: $bp-small-1) {
      font-size: 1.4rem;
    }

    .leftRight {
      span {
        margin: 1.5rem;
      }
    }

    .page-number {
      font-weight: bold;
      font-size: 1.8rem;

      @media only screen and (max-width: $bp-small-1) {
        font-size: 1.4rem;
      }

      span {
        font-size: 2.8rem;
        @media only screen and (max-width: $bp-small-1) {
          font-size: 2.2rem;
        }
      }
    }

  }

  .page-name {
    color: white;
    text-align: left;
    @media only screen and (max-width: $bp-small-1) {
      font-size: 1.6rem;
    }
  }
}

.white-div {
  width: 100%;
  height: .6rem;
  border-radius: 1rem;
  background: var(--color-grey-light-4);
  margin-bottom: 2.5rem;

  @media only screen and (max-width: $bp-small-1) {
    height: .4rem;
  }

  .line {
    width: 8rem;
    height: .6rem;
    border-radius: 1rem;
    background: white;
    @media only screen and (max-width: $bp-small-1) {
      height: .4rem;
    }
  }
}

.scroll-btn-container {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  background: #61dafb;
  position: absolute;
  left: 32.25%;
  bottom: 1rem;
  z-index: 1999;
  //background-image: linear-gradient(
  //                to bottom,
  //                rgba(0, 0, 0, 0.5) 50%,
  //                rgba(0, 0, 0, 0.8) 100%
  //),
  //url("https://images.unsplash.com/photo-1524260855046-f743b3cdad07?fit=crop&w=1920&h=1080&q=50");
  //background-size: cover;
  @media only screen and (max-width: $bp-small-1) {
    left: 50%;
  }

  .icon-scroll,
  .icon-scroll::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .icon-scroll {
    width: 35px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    bottom: 2rem;
    animation: bounce .7s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5,.05,1,.5);
    animation-iteration-count: infinite;


    @media only screen and (max-width: $bp-small-1) {
      width: 30px;
      height: 50px;
    }
  }

  .icon-scroll::before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 15px;
    border-radius: 50%;
    animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
  }

}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.5);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(30px) scale(0.5);
  }
}

@keyframes bounce {
  from {
    transform: translate(-50%,0) ;
  }
  to{
    transform: translate(-50%,20px) ;
  }
}